@font-face {
    font-family: GoticaBastard;
    src: url('../fuentes/GoticaBastard.ttf');
}
@font-face {
    font-family: medieval;
    src: url('../fuentes/MedievalSharp-Regular.ttf');
}

@font-face {
    font-family: marcador;
    src: url('../fuentes/m06.TTF');
}

body{
    background-color: black;
    color: white;
    font-family: medieval;
    font-weight: bolder;
}

ol li {
    color: #19692c;
}