

.number{
    width: 60px;
}

#imgElemento{
    width: 6rem;
    height: 9rem;
}

#tableShop{
    color: white;
    font-size: large;
}

h1{
    color: white;
}
h3{
    color: #2E88C7;
}
h2{
    color: white;
}

#dinero{
    color: #2E88C7;
}